page,
view,
scroll-view,
text,
image,
textarea,
button,
swiper,
swiper-item,
input {
	box-sizing: border-box;
}

view[hidden] {
	display: none !important;
}

page {
	background-color: $bg-color;
	font-size: $font-size-base;
	color: $text-color-base;
}

.w-100 {
	width: 100% !important;
}

.w-90 {
	width: 90% !important;
}

.w-80 {
	width: 80% !important;
}

.h-100 {
	height: 100% !important;
}

.bg-white {
	background-color: #ffffff;
}

// 布局
.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-fill {
	flex: 1 1 auto !important;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.flex-column {
	flex-direction: column !important;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-end {
	justify-content: flex-end;
}

.flex-horizontal-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.p-30 {
	padding: 30rpx;
}

.p-20 {
	padding: 20rpx;
}

.plr-30 {
	padding: 0 30rpx !important;
}

.ptb-30 {
	padding: 30rpx 0 !important;
}

.ptb-20 {
	padding: 20rpx 0 !important;
}

.ptb-10 {
	padding: 10rpx 0 !important;
}

.pl-30 {
	padding-left: 30rpx !important;
}

.pr-30 {
	padding-right: 30rpx !important;
}

.mt-10 {
	margin-top: 10rpx !important;
}

.mt-20 {
	margin-top: 20rpx !important;
}

.mt-30 {
	margin-top: 30rpx !important;
}

.mt-40 {
	margin-top: 40rpx !important;
}

.mb-10 {
	margin-bottom: 10rpx !important;
}

.mb-20 {
	margin-bottom: 20rpx !important;
}

.mb-30 {
	margin-bottom: 30rpx !important;
}

.mb-40 {
	margin-bottom: 40rpx !important;
}

.ml-30 {
	margin-left: 30rpx !important;
}

.ml-20 {
	margin-left: 20rpx !important;
}

.ml-10 {
	margin-left: 10rpx !important;
}

.mr-40 {
	margin-right: 40rpx !important;
}

.mr-30 {
	margin-right: 30rpx !important;
}

.mr-20 {
	margin-right: 20rpx !important;
}

.mr-10 {
	margin-right: 10rpx !important;
}

/* 文字尺寸 */
$font-size-extra-sm: 22rpx;
$font-size-sm: 24rpx;
$font-size-base: 26rpx;
$font-size-medium: 28rpx;
$font-size-lg: 32rpx;
$font-size-extra-lg: 36rpx;

.font-size-extra-sm {
	font-size: $font-size-extra-sm;
}

.font-size-sm {
	font-size: $font-size-sm;
}

.font-size-base {
	font-size: $font-size-base;
}

.font-size-medium {
	font-size: $font-size-medium;
}

.font-size-lg {
	font-size: $font-size-lg;
}

.font-size-extra-lg {
	font-size: $font-size-extra-lg;
}

.text-color-base {
	color: $text-color-base;
}

.text-color-assist {
	color: $text-color-assist;
}

.text-color-grey {
	color: $text-color-grey;
}

.text-color-primary {
	color: $color-primary;
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.overflow-hidden {
	overflow: hidden;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
	z-index: 9;
}

.text-sm {
	font-size: $font-size-sm;
}

.text-base {
	font-size: $font-size-base;
}

.text-medium {
	font-size: $font-size-medium;
}

.text-lg {
	font-size: $font-size-lg;
}

.text-extra-lg {
	font-size: $font-size-extra-lg;
}

.font-thin-bold {
	font-weight: 500;
}
.font-bold {
	font-weight: 700;
}

@font-face {
	font-family: 'wenyue';
	src: url('https://static.heytea.com/taro_trial/v1/font/WenYue-XinQingNianTi-NC-W8_1.otf');
}

@font-face {
	font-family: 'neutra';
	src: url('https://static.heytea.com/taro_trial/v1/font/NeutraTextDemiAlt.otf');
}

.font-wenyue {
	font-family: 'wenyue';
}

.font-neutra {
	font-family: 'neutra';
}

.font-wenyuebold {
	font-family: 'wenyue';
	font-weight: 700;
}

.font-neutrabold {
	font-family: 'neutra';
	font-weight: 700;
}

.text-center {
	text-align: center;
}

button {
	padding: 0;
	margin: 0;
	font-size: $font-size-base;
	border-radius: $border-radius-base;
	&::after {
		border: none;
	}
	&[type='primary'] {
		background-color: $color-primary;
		&[disabled] {
			background-color: rgba($color: $color-primary, $alpha: 0.6);
		}
		&[plain] {
			color: $color-primary;
			border-color: $color-primary;
			background-color: $bg-color-white;
		}
	}

	&[type='info'] {
		background-color: #343434;
		color: $bg-color-white !important;
		&[disabled] {
			background-color: rgba($color: #343434, $alpha: 0.6);
		}
	}
}

.border-radius-base {
	border-radius: $border-radius-base;
}
